{% extends "bootstrap/base.html" %}


{% block head %}
  {{ super() }}
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='favicon.png') }}"
  />
{% endblock %}

{% block title %} {{ vid }} {% endblock %}

{% block content %}
  <div class="container">
    {% if vid not in resources %}
      <div class="card">
        <img src="{{ url_for('static', filename='rainbow.png') }}" class="card-img-top">
        <div class="card-body">
          <p class="card-text">~Just Rainbow~</p>
        </div>
      </div>
    {% else %}
      <div class="card">
        <img src="{{ url_for('static', filename=resources[vid][1]) }}" class="card-img-top">
        <div class="card-body">
          <p class="card-text">
            <strong>{{ resources[vid][0].strip(' - ' + vid +'.mp3') }}</strong>
          </p>
          <audio controls autoplay>
            <source src="{{ url_for('static', filename=resources[vid][0]) }}" type="audio/mpeg">
          </audio>
          <p><a href="https://www.youtube.com/watch?v={{ vid }}">Watch on YouTube</a> 📺</p>
          <p>
            <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#collapseLyrics" aria-expanded="false" aria-controls="collapseLyrics">
              Lyrics
            </button>
          </p>
          <div class="collapse" id="collapseLyrics">
            {% for seg in resources[vid][2]%}
              <p class="text-center">{{ seg[-1] }}</p>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}
